/* src/pages/HomePage.css */
.homepage {
  background-image: url(./bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.highlights {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}

.highlight {
  background: rgb(228, 219, 219);
  padding: 1rem;
  border-radius: 8px;
  width: 30%;
  text-align: center;
}
